/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  background-color: #e5e5e5;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
/* ===============Header====================== */
.container-fluid {
  margin-left: 15vw;
  margin-bottom: 30px;
}

.container-fluid div ul li {
  padding-left: 2vw;
}
/* ===================Banner============== */
.carousel .carousel-inner img {
  height: 700px;
}
.carousel .carousel-inner .carousel-caption {
  vertical-align: middle;
  display: table-cell;
}
.carousel .carousel-inner .carousel-caption h5 {
  margin-top: -18vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 100px;

  color: #ffffff;
}
.carousel .carousel-inner .carousel-caption p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;

  color: #f7f6f0d8;
}
/* ================Mot-de-gourvernel=============== */
.mot {
  background: #ffffff;
  border-radius: 12px;
  width: 93vw;
  height: 30vw;
  padding: 10px 30px 10px 30px;
  margin-left: 3vw;
  margin-right: 2vw;
  margin-top: 2vw;
}
.mot h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
  text-align: center;
  padding-bottom: 8vw;
  /* margin-bottom: 20px; */
}
.mot .block-mot {
  padding-left: 6vw;
}
.mot div h2 {
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 6vw;
  margin-left: 5vw;
  margin-top: -4vw;
  color: #000000;
  overflow-wrap: break-word;
  transform: rotate(0.26deg);
}
.mot div blockquote {
  width: 50vw;
  overflow-wrap: break-word;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.8vw;
  margin-left: 7vw;
  color: #8f8f8f;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  transform: rotate(0.02deg);
}
.mot div #gvr {
  border-radius: 50vw;
  width: 20vw;
  height: 20vw;
  margin-top: -7vw;
  margin-right: 5vw;
  float: right;
}
/* .mot .inner-btton {
  margin-top: 10px;
/* } */
.mot a {
  /* margin-top: 30px; */
  text-decoration: none;
  background: #ffcf06;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
  /* margin-bottom: 40px; */
  font-size: 14px;
}

/* ==============END============== */

.zone-info {
  margin-left: 20vw;
  margin-right: 20vw;
}
.zone-info .col .card img {
  position: relative;
  width: 150px;
  height: 150px;
  top: -15%;
  left: 7vw;
  z-index: 1;
}
/* Animations */
.zone-info .card .card-body {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.zone-info .card:hover {
  height: 350px;
}
.zone-info .col .card:hover h5 {
  margin-top: -45px;
  padding-bottom: 20px;
}
.zone-info .card:hover .card-body {
  margin-top: 100px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}
/* .zone-info .col .card img:hover{
  transform: scale(1.5);
} */
.zone-info .col .card h5 {
  margin-top: -20px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  top: -15%;
  left: 57px;
  z-index: 1;
  transition: 0.3s ease-in-out;
  color: #000000;
}
.zone-info .col .card p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  overflow-wrap: break-word;
  color: #8f8f8f;
}
.zone-info .card {
  border: none;
  background-color: white;
  border-radius: 10px;
  position: relative;
  max-width: 450px;
  height: 215px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.section-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #2250b2;
}

/* Responsive design for mot-de governeur */
@media (max-width: 980px) {
  .mot {
    background: #ffffff;
    border-radius: 12px;
    width: 93vw;
    height: 30vw;
    padding: 10px 30px 10px 30px;
    margin-left: 3vw;
    margin-right: 2vw;
    margin-top: 2vw;
  }
  .mot h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #2250b2;
    text-align: center;
    padding-bottom: 8vw;
    /* margin-bottom: 20px; */
  }
  .mot .block-mot {
    padding-left: 6vw;
  }
  .mot div h2 {
    font-family: Averia Serif Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 6vw;
    margin-left: 5vw;
    margin-top: -4vw;
    color: #000000;
    overflow-wrap: break-word;
    transform: rotate(0.26deg);
  }
  .mot div blockquote {
    width: 50vw;
    overflow-wrap: break-word;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.8vw;
    margin-left: 7vw;
    color: #8f8f8f;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    transform: rotate(0.02deg);
  }
  .mot div #gvr {
    border-radius: 50vw;
    width: 20vw;
    height: 20vw;
    margin-top: -7vw;
    margin-right: 5vw;
    float: right;
  }
  /* .mot .inner-btton {
    margin-top: 10px;
  /* } */
  .mot a {
    /* margin-top: 30px; */
    text-decoration: none;
    background: #ffcf06;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-left: 30px;
    /* margin-bottom: 40px; */
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .mot {
    width: 95vw;
    height: 85vw;
    padding: 10px 30px 10px 0px;
    margin-left: 0px;
  }

  .mot div h2 {
    font-size: 20px;
    line-height: 28px;
    margin-left: -2vw;
    margin-top: 28vw;
  }
  .mot div blockquote {
    display: block;
    width: 90vw;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 28px;
    margin-left: -3vw;
  }
  .mot div #gvr {
    width: 34vw;
    height: 34vw;
    margin-left: auto;
    margin-right: 27vw;
  }

  .mot a {
    padding: 6px 11px 7px 13px;
    margin-left: 20px;
    font-size: 14px;
  }
}

/* ================== */

.cont {
  border: none;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 45px;
  padding: 20px 30px 20px 10vw;
  margin-bottom: 30px;
}
#nous-decouvrir h3 {
  font-size: 32px;
}
/* .cont .par-edit{
  padding-right: 40px;
} */
.cont p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  overflow-wrap: break-word;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 30px;
  color: #8f8f8f;
  transform: rotate(0.02deg);
  padding-left: 50px;
  padding-right: 100px;
}

.cont h4 {
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 58px;
  color: #000000;
  transform: rotate(0.26deg);
}

.cont a {
  text-decoration: none;
  background: #ffcf06;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-left: 30px;
  /* margin-bottom: 40px; */
  font-size: 14px;
}

.cont .onSmallScale {
  margin-top: 20px;
}

.cont img {
  width: 463px;
  height: 482px;
}

/* ==============NOTRE-HISTORY CSS========== */
.div-margin {
  margin-left: -35px;
}

/* ---------------------end------------------ */

/* ==============DEVENIR-MEMBRES- CSS========== */

/* 1. lIONS */
.home-devenir-member .lion img {
  margin-top: 4vw;
  width: 6vw;
  height: 7vw;
  margin-left: -5vw;
}

.home-devenir-member .lion h6 {
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
/*2. LEO  */
.home-devenir-member .leo h6 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.home-devenir-member .leo img {
  width: 9vw;
  height: 9vw;
  padding-right: -40px;
  padding-right: -30px;
  margin-left: -8vw;
}
/* ---------------------end------------------ */
/* ==============NOS LEADERS CSS========== */
.home-notre-history .logo-image img {
  width: 6vw;
  height: 7vw;
  margin-left: -5vw;
}

/* ---------------------end------------------ */

/* ==============NOS-CAUSES-MONDIALES- CSS========== */
.home-notre-history .logo-image img {
  width: 6vw;
  height: 7vw;
  margin-left: -5vw;
}

/* ---------------------end------------------ */

.histoire .col h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 42px;
  padding-bottom: 10px;
  margin-left: 45px;
  color: #000000;
}
.mondiales {
  margin-left: 45px;
}
.mondiales h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 42px;
  padding-bottom: 10px;
  margin-left: 45px;
  color: #000000;
}
/* @media screen and (max-width: 1024px) {
  .zone-info {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .cont h4 {
    font-size: 30px;
  }
  .cont p {
    font-size: 3vw;
    line-height: 20px;
  }
  .cont .image-holder {
    margin-left: 12vw;
  }
  .cont img {
    width: 40vw;
    height: 30vw;
    padding-left: 4vw;
  }
  .histoire .col-md-auto img {
    width: 28vw;
    height: 28vw;
    /* margin-left: -8vw; */
/* }
/* } */

/* .district-structure {
  background: #2250b2;
  padding-left: 30vw;
  margin-top: -30px;
} */
.container-table .div-1 {
  margin-top: 8vw;
  padding-left: 10vw;
}
.container-table .div-2 {
  margin-top: 6vw;
  margin-left: -20px;
}
.container-table h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height */
  margin-left: 27px;
  color: #ffffff;
}

.container-table .div-1 p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  margin-left: 27px;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
.table-format {
  border-collapse: collapse;
  border: none;
  transition: 0.3s ease-in-out;
}
/* .table-format:hover {
  transform: scale(1.5);
  transition-delay: 0.2s;
} */
.container-table .table-info {
  background: #2250b2;
  margin-top: -40px;
  padding-bottom: 5vw;
  width: 100vw;
}

.container-table td {
  text-align: center;
  font-family: Poppins;
  padding: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #ffcc00;
}

.table-format td {
  border: 2px solid #e5e5e5;
}

.table-format tr:first-child td {
  border-top: none;
}

.table-format tr:last-child td {
  border-bottom: none;
}

.table-format tr td:first-child {
  border-left: none;
}

.table-format tr td:last-child {
  border-right: none;
}
#contact {
  margin-left: -20vw;
}

.cont form input {
  background: rgb(247 247 247);
  border: none;
  width: 524px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
#contactez-nous h3 {
  margin-left: 36vw;
  font-size: 36px;
}
.cont form button {
  background-color: #2250b2;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  margin-left: 12vw;
  border: none;
  color: #ffcf06;
  text-decoration: none;
  font-weight: bold;
}
.cont form textarea {
  padding-left: 11px;
  border: none;
  width: 524px;
}

.home-devenir-member .div-margin a {
  margin-left: 2vw;
}

.car-special h5 {
  font-size: 58px;
}

@media (max-width: 574px) {
  .carousel .carousel-inner img {
    height: 325px;
    margin-top: 130px;
  }
  .carousel .carousel-inner .carousel-caption h5 {
    margin-top: -30vw;

    font-size: 36px;
    line-height: 37px;
  }

  /* mot-de-gouverner */
  .mot {
    width: 95vw;
    height: 170vw;
    padding: 10px 30px 10px 0px;
    margin-left: 0px;
    margin-bottom: 100px;
  }

  .mot div h2 {
    font-size: 20px;
    line-height: 28px;
    margin-left: -2vw;
    margin-top: 47vw;
  }
  .mot div blockquote {
    display: block;
    width: 90vw;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 28px;
    margin-left: -3vw;
  }
  .mot div #gvr {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: 22vw;
  }

  .mot a {
    padding: 6px 11px 7px 13px;
    margin-left: 20px;
    font-size: 14px;
  }

  /* card -responsive */
  #zone {
    margin-top: 60px;
  }
  .zone-info .col .card h5 {
    margin-top: -20px;
    font-size: 25px;
    line-height: 54px;
    top: -15%;
    margin-left: -30px;
  }
  .zone-info .card {
    border: none;
    background-color: white;
    width: 95vw;
    height: 215px;
    margin: 30px -107px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
  }
  .zone-info .col .card img {
    position: relative;
    top: -15%;
    left: 24vw;
    z-index: 1;
  }
  .zone-info .col .card p {
    font-size: 15px;
    line-height: 20px;
    width: 80vw;
    overflow-wrap: break-word;
  }
  /* ==============NOS-CAUSES-MONDIALES- CSS========== */
  .home-notre-history .logo-image img {
    width: 20vw;
    height: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* ---------------------end------------------ */

  .histoire .col h5 {
    text-align: center;
    font-size: 33px;
    line-height: 42px;
    padding-bottom: 10px;
    margin-left: 59px;
  }
  .mondiales {
    margin-left: 45px;
  }
  .mondiales h5 {
    text-align: center;
    font-size: 33px;
    line-height: 42px;
    padding-bottom: 10px;
    margin-left: 15px;
  }
  .cont p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
    padding-left: 43px;
    padding-right: 4px;
  }
  .cont {
    border: none;
    background-color: white;
    border-radius: 10px;
    margin-right: 2px;
    margin-left: 12px;
    padding: 15px 10px 20px 2vw;
    margin-bottom: 30px;
  }
  .cont a {
    margin-left: 12vw;
    padding: 6px 12px 7px 14px;
  }
  .home-devenir-member .lion img {
    margin-top: 4vw;
    width: 20vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .home-devenir-member .leo img {
    width: 22vw;
    height: 22vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .home-devenir-member .div-margin h6 {
    margin-left: 70px;
    text-align: center;
  }
  .home-devenir-member .div-margin a {
    margin-left: 12vw;
  }
  .mondiales .col p {
    padding-left: 7px;
    padding-right: 4px;
  }
  .mondiales .col a {
    margin-left: 4vw;
  }
  /* ========contact */
  #contactez-nous h3 {
    margin-left: -3vw;
    text-align: center;
    font-size: 36px;
  }
  .cont img {
    width: 300px;
    height: 343px;
    margin-left: -20px;
    margin-bottom: 20px;
  }
  .cont form{
    margin-left: -8px;
  }
  .cont form input {
    width: 394px;
  }
  .cont form textarea {
    width: 394px;
  }
  .cont form button {
    margin-left: 18vw;
  }
  .container-table h2 {
    font-size: 28px;
    margin-left: -17px;
  }
  .container-table .div-1 p {
    margin-left: -14px;
    font-size: 14px;
  }
  .container-table td{
    font-size: 30px;
  }
}

/* @media screen and (max-width: 680px) {
  .zone-info {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
  .container-table td {
    font-size: 30px;
  }
  .histoire .col-md-auto img {
    width: 30vw;
    height: 30vw;
    /* margin-left: -8vw; */
/* }
  .cont p {
    font-size: 5vw;
    font-size: 20px;
    margin-left: -60px;
  }
  .cont a {
    padding: 5px 15px 5px 15px;
    margin-left: 10vw;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .cont h4 {
    font-size: 5vw;
    line-height: 20px;
    margin-bottom: 10px;
    color: #000000;
    transform: rotate(0.26deg);
  }
  .zone-info .col .card p {
    font-size: 18px;
    line-height: 25px;
  }
  .zone-info .col .card h5 {
    font-size: 28px;
    line-height: 42px;
  }
  .section-header {
    font-size: 25px;
  }
  .histoire .col h5 {
    font-size: 28px;
    line-height: 25px;
    padding-bottom: 8px;
  }
  .container-table h2 {
    font-size: 30px;
    line-height: 50px;
    margin-left: 5px;
    color: #ffffff;
  }
  .container-table h3 {
    font-size: 18px;
    line-height: 20px;
    margin-left: 5px;
    color: #ffffff;
  }
  .cont .onSmallScale {
    margin-top: -400px;
  }
  .cont .onSmallScale img {
    margin-bottom: -20vw;
    margin-top: -150px;
    margin-left: 15vw;
    width: 200px;
    height: 200px;
  }
  #link-mot-du-gouverneur h4 {
    margin-bottom: 250px;
  }
} */

/* @media screen and (max-width: 480px) {
  /* ===================Banner============== */
/* mot 
  .mot {
    width: 98vw;
    height: 90vw;
  }
  .mot h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .mot div blockquote {
    font-size: 3vw;
    line-height: 4vw;
    margin-left: 7vw;
  }

  .mot a {
    font-size: 4vw;
  }

  /* ======================= 

  .carousel {
    margin-top: 150px;
  }

  .carousel .carousel-inner img {
    height: 200px;
  }

  .carousel .carousel-inner .carousel-caption h5 {
    font-size: 23px;
    line-height: 30px;
  }
  .carousel .carousel-inner .carousel-caption p {
    font-size: 10px;
    line-height: 15px;
  }

  /* ==============NOTRE-HISTORY CSS========== 
  .histoire .col-md-auto {
    margin-top: 12px;
    margin-left: 18vw;
  }

  .histoire h5 {

    text-align: center;
    margin-top: -40vw;
    margin-bottom: 32vw;
    font-size: 20px;
    margin-right: 15vw;
  }
  .home-devenir-member h5 {
    margin-left: -20px;
    padding-left: 1vw;
    margin-top: -70vw;
    margin-bottom: 32vw;
  }
  .intra-member-devenir h5 {
    margin-top: -55vw;
  }
  .intra-member-devenir h6 {
    margin-right: 15vw;
    margin-top: -35vw;
    margin-bottom: 40vw;
  }
  .intra-member-devenir .col-md-auto img {
    margin-top: 17vw;
  }
  .histoire h6 {
    text-align: center;
  }
  .mondiales {
    margin-left: 10px;
  }
  .mondiales h5 {
    text-align: center;
    font-size: 25px;
  }
  .histoire p {
    text-align: left;
    font-size: 20px;
  }

  .zone-info {
    margin-left: 0.2vw;
    margin-right: 0.2vw;
  }
  .container-table td {
    font-size: 20px;
  }

  .cont p {
    font-size: 3.5vw;
    margin-left: -60px;
  }
  .cont a {
    padding: 5px 15px 5px 15px;
    margin-left: 10vw;
    margin-bottom: 20px;
    font-size: 25px;
  }
  .zone-info .col .card p {
    font-size: 15px;
    line-height: 20px;
  }
  .zone-info .col .card h5 {
    font-size: 25px;
    line-height: 40px;
  }
  .section-header {
    font-size: 20px;
    line-height: 15px;
  }
  .histoire .col h5 {
    font-size: 25px;
    line-height: 20px;
    padding-bottom: 5px;
  }
  .cont a {
    padding: 2.5px 10px 2.5px 10px;
    margin-left: 10vw;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .cont form input {
    width: 200px;
    height: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .cont form textarea {
    width: 200px;
    height: 70px;
  }
  .container-table h2 {
    font-size: 28px;
    line-height: 50px;
    margin-left: 2px;
    color: #ffffff;
  }
  .container-table h3 {
    font-size: 15px;
    line-height: 20px;
    margin-left: 2px;
    color: #ffffff;
  }
  .zone-info .col .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    margin-top: -20px;
  }
  .cont .onSmallScale {
    margin-top: -100vw;
  }
  .cont .onSmallScale img {
    margin-bottom: -2vw;
    margin-top: -55vw;
    margin-left: 1vw;
    width: 150px;
    height: 150px;
  }
  #link-mot-du-gouverneur h4 {
    margin-top: -30px;
    margin-bottom: 200px;
  }
  main {
    padding: 5px;
  }
  .cont form button {
    background-color: #2250b2;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    margin-left: 8vw;
  }
  .cont .image-holder {
    margin-left: 12vw;
  }
  .cont img {
    width: 40vw;
    height: 30vw;
    padding-left: 30px;
  }
} */
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}
main {
  padding: 16px;
  margin-top: -110px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body .sticky + .content {
  padding-top: 60px;
}
/* ===================hEADES================= */
header {
  background-color: #f6f6f6;
  clear: both;
  /* font-size: medium; */
  width: 100vw;
  height: 7vw;
}

nav div div .navbar-nav .nav-item .nav-link {
  /* font-size: 17px; */
  color: #8f8f8f;
}
nav div div .navbar-nav .nav-item ul .dropdown-menu .show {
  width: 20px;
}
nav div div .navbar-nav .nav-item .nav-link:hover {
  color: #ffcc00;
  background-color: #113cfc;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
header nav {
  overflow: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
footer body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer .container {
  max-width: 1440px;
  margin: auto;
}
footer .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}
footer ul {
  list-style: none;
}
.footer {
  background-color: #0d2240;
  padding: 70px 0;
}
footer .footer-col {
  width: 16%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffcf06;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #c4c4c4;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffcf06;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #f7f6f0d8;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0d2240;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ffcd06d8;
  background-color: #0d2240;
}
.footer .copyright hr {
  width: 50%;
  margin-left: 25vw;
}
.footer .copyright {
  color: white;
  padding-top: 40px;
  /* margin: 10px 650px; */
  background-color: #0d2240;
  padding-top: 50px;
  font-weight: 300;
  color: #c4c4c4;
  text-align: center;
}
/*responsive*/
@media (max-width: 767px) {
  footer .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  footer .footer-col {
    width: 100%;
  }
  footer .footer .copyright {
    margin-left: 10px;
    width: 100%;
    text-align: center;
  }
}

/* ==================Google Translation============ */
/*google translate Dropdown */

#google_translate_element select {
  background: #f6edfd;
  color: #383ffa;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
}

/*google translate link | logo */
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}

/* google translate banner-frame */

.goog-te-banner-frame {
  display: none !important;
}

#goog-gt-tt,
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
