/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles for header */
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
}
main{
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body .sticky + .content {
  padding-top: 60px;
}
header {
  background-color: #f6f6f6;
  clear: both;
  /* font-size: medium; */
  width: 100vw;
  height: 7vw;
}
/*header nav div a img {
  width: 7%;
  margin-right: 2vw;
  float: left;
}
.nav-links {
  text-align: left;
  padding-top: 1.5em;
  font-size: 2vw;
}
.nav-links a {
  color: #8f8f8f;
  text-decoration: none;
  margin-left: 0.5vw;
  padding: 5px;
  font-family: Poppins;
  font-style: normal;
}

.nav-links a:hover {
  border: 1px solid #113cfc;
  border-radius: 10px;
  color: #ffcf06;
  background-color: #113cfc;
} */
nav div div .navbar-nav .nav-item .nav-link{
  color: #8f8f8f
}
nav div div .navbar-nav .nav-item .nav-link:hover{
  color: #ffcc00;
  background-color: #113cfc;
  border-radius: 10px;

}

header nav{
  overflow: hidden;
}


/* ============================ */
/* Dropdown Button */
.dropbtn {
  color: #8f8f8f;
  margin-left: 0.5vw;
  padding: 5px;
  font-size: 1.5vw;
  border-radius: 10px;
  background: #e5e5e5;
  border: 3px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  font-size: 1.5vw;
  color: #8f8f8f;
  padding-bottom: 30px;
  margin-bottom: 10px;
  /* background: #e5e5e5; */
  /* border: 1px solid #e5e5e5; */
  /* box-sizing: border-box; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border: none;
  outline: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
  text-decoration: none;
  padding-right: 43px;
  padding-bottom: 10px;
  margin-top: -5px;
  border-radius: 0px 0px 10px 10px;
  /* padding-top: 10px; */
  /* margin-top: 20px;  */
  clear: both;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  outline: none;
  border: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  outline: none;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #d3dedc; */
}
/* -------------Responsive design------------- */
/* Header */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 480px) {
}
/* ===================HEADER CSS========================== */

/* =======================Carousel-CSSS */
.carousel-inner .carousel-item  img {
  height:800px;
}
#carouselExampleCaptions{
  margin-top: -30px;
}
footer{
  background-color: #0d2240;
  color: #fff;
  position: static;
  width: 100%;
  left: 0px;
  display: block;
  clear: both;
  padding-top: 2vw;
  overflow: hidden;
  overflow: hidden;
}
footer div div ul li{
  font-size: 10px;
}
footer div div h5{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #6c819e;
  font-size: 20px;
}

footer a{
  text-decoration: none;
}


/* Footer styles */
/*
footer {
  bottom: 0;
  background-color: #0d2240;
  color: #fff;
  position: static;
  width: 100%;
  left: 0px;
  display: block;
  clear: both;
  padding-top: 50px;
  overflow: hidden;
}
footer div ul li a {
  color: #fff;
  text-decoration: none;
  /* margin-bottom: -10px;

}
footer div ul {
  list-style: none;
}
footer h3 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #6c819e;
}
.footer-class {
  padding-top: 30px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10vw;
  padding-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}
footer div hr {
  margin-left: 3.5vw;
  margin-top: 10px;
  width: 90%;
}
.copyright-section {
  text-align: center;
  background-color: #121e2c;
  padding-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;

  color: #ffffff;
}

.copyright-section p {
  padding-top: 20px;
}

.footer-logo {
  text-align: center;
  margin-top: 12%;
}
.leo-logo {
  margin-top: 10%;
}
.footer-class div a img {
  width: 120px;
}*/
/* -------------Responsive design------------- */
/* Header */
/* @media screen and (max-width: 1008px) {
  footer {
    padding-top: 20px;
  }
  footer h3 {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
  }
  .footer-class {
    padding-bottom: 50px;
  }
  .copyright-section {
    padding-bottom: 15px;
    font-size: 10px;
    line-height: 13px;
  }
  footer div li {
    font-size: 10px;
  }
  footer hr {
    width: 90%;
  }
  .footer-class div a img {
    width: 80px;
  }
  .footer-logo {
    margin-top: 20%;
  }
  .leo-logo {
    margin-top: 15%;
  }
} */

/* =================mot-Du-Gouverneur=================== */
.speech {
  background: #ffffff;
  border-radius: 12px;
}
.speech-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.speech img {
  width: 494px;
  height: 662px;
  margin-right: 50px;
  margin-left: 80px;
  left: 0;
}
.speech h2 {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
  margin-bottom: 30px;
}
.speech div h2 {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
  margin-bottom: 30px;
}
.speech-content {
  width: 90%;
  padding-top: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;

  color: #8f8f8f;
}

.monFanion {
  clear: both;
}
.monFanion h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #2250b2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.monFanion #item2 img {
  width: 550px;
  height: 697px;
}
.monFanion #item1 p {
  width: 800px;
  height: 195px;
  left: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-column-gap: 30px; */
}
#item1 {
  /* grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-top: 40px;
  margin-left: 4vw;

  color: #8f8f8f;
}
#item1 p {
  clear: both;
}
#item2 {
  /* grid-column-start: 12; */
}

.ma-devise {
  text-align: center;
  width: 795px;
  margin-left: 25%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 20px;
  color: #8f8f8f;
}

.ma-devise h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  color: #2250b2;
}

/* Applying responsivness on mot-gouverneur */
@media screen and (max-width: 640px) {
  .speech-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .speech img {
    width: 40vw;
    height: 60vw;
    margin-right: 50px;
    margin-left: 28vw;
    left: 0;
  }
  .speech-content {
    margin-left: 1vw;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .monFanion #item2 img {
    width: 60vw;
    height: 60vw;
    margin-left: 80px;
  }
  .monFanion #item1 p {
    width: 90vw;
    margin-left: 0.3vw;
    height: 50vw;
  }

  .ma-devise {
    text-align: center;
    width: 90vw;
    margin-left: 2vw;
  }
}
@media screen and (max-width: 1024px) {
  .speech-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .speech img {
    width: 40vw;
    height: 60vw;
    margin-right: 50px;
    margin-left: 28vw;
    left: 0;
  }
  .speech-content {
    margin-left: 1vw;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .monFanion #item2 img {
    width: 60vw;
    height: 60vw;
    margin-left: 80px;
  }
  .monFanion #item1 p {
    width: 90vw;
    margin-left: 0.3vw;
    height: 25vw;
  }

  .ma-devise {
    text-align: center;
    width: 90vw;
    margin-left: 2vw;
  }
}
/* ==================Discover-us================== */
/* ----------Notre-history-------- */
.notre-historie .banner-notre-historie {
  background-size: cover;
  width: 100%;
  height: 23vw;
}

.banner-notre-historie h2 {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 59px;
  position: absolute;
  width: 25vw;
  height: 59px;
  left: 8vw;
  top: 17vw;
  color: #ffffff;
}

.notre-historie-content {
  margin-left: 11vw;
  margin-top: 3vw;
  width: 80%;
  height: 35vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  line-height: 2.3vw;
  margin-bottom: -5vw;
  color: #8f8f8f;
}

.histoire-grid {
  display: grid;
  grid-column-gap: 2vw;
  grid-template-columns: 1fr 1fr;
  margin-left: 8vw;
}
.histoire-grid div img {
  width: 38vw;
  height: 28vw;
  margin-bottom: 2vw;
}
.histoire-grid div h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  margin-left: 30px;
  margin-bottom: 10px;

  color: #000000;
}

#histoire-grid-item1 p {
  width: 500px;
  height: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;

  color: #8f8f8f;
}

#histoire-grid-item2 p {
  width: 600px;
  height: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #8f8f8f;
}
@media screen and (max-width: 1200px) {
  .histoire-grid {
    grid-template-columns: 1fr;
  }
  .histoire-grid div img {
    width: 45vw;
    height: 32vw;
    margin-bottom: 2vw;
  }
  .notre-historie-content {
    font-size: 2vw;
    margin-bottom: 1vw;
  }
}
/* ----------END HERE Notre-history-------- */

/* ----------Devenir membre Lions -------- */
.devenir-membre-lions .log img {
  margin-left: 45.5%;
  width: 150px;
}
.devenir-membre-lions .log h3 {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 12px;
  color: #000000;
}

.devenir-membre-lions .log p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-left: 84px;
  width: 90%;
  color: #8f8f8f;
}
.devenir-membre-lions-content {
  margin-top: 20px;
  margin-left: 84px;
  margin-bottom: 30px;
  width: 90%;
  background: #ffffff;
  border-radius: 12px;
  padding: 30px;
}
.devenir-membre-lions-content h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}
.devenir-membre-lions-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;
  color: #8f8f8f;
}

/* ----------Devenir membre Lions Ends here-------- */

/* ----------Devenir membre Leo  -------- */
.devenir-membre-Leo .logo-leo img {
  width: 200px;
  margin-left: 44%;
  margin-bottom: -20px;
}
.devenir-membre-Leo .logo-leo h3 {
  margin-bottom: 20px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.devenir-membre-Leo .logo-leo p {
  margin-left: 72px;
  width: 90%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #8f8f8f;
}

.devenir-membre-leo-content {
  margin-top: 20px;
  margin-left: 72px;
  margin-bottom: 30px;
  border-radius: 12px;
  background: #ffffff;
  width: 90%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  padding: 30px;
}
.devenir-membre-leo-content h3 {
  color: #000000;
  font-size: 30px;
}

.devenir-membre-leo-content p {
  color: #8f8f8f;
  font-size: 24px;
}
@media screen and (max-width: 640px) {
  .devenir-membre-lions .log img {
    margin-left: 38%;
    width: 150px;
  }
  .devenir-membre-leo-content {
    background: #ffffff;
    width: 80vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    padding: 30px;
  }
  .devenir-membre-lions .log p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 20px;
    width: 80vw;
    color: #8f8f8f;
  }
}
@media screen and (max-width: 1024px) {
}
/* ==========================Global couses============ */
.globalCouses-banner {
  background: #0d2240;
  width: 96%;
  height: 24.5vw;
  margin-top: 20px;
  margin-left: 31px;
  border: 1px solid #0d2240;
  margin-bottom: 150px;
  clear: both;
}
.global-couses-inner-banner {
  background: #ffcf06;
  width: 86%;
  height: 24.5vw;
  margin-top: 10vw;
  margin-left: 6vw;
  border: 1px solid #ffcf06;
  clear: both;
  margin-bottom: 40px;
  display: inline-grid;
  grid-template-columns: 0.5fr 2.5fr;
}
.globalCouses-banner .global-couses-inner-banner #banner-global-item2 img {
  -webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 0%, 0% 80%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
}

.global-couses-inner-banner #banner-global-item1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.global-couses-inner-banner #banner-global-item1 h3 {
  text-align: center;
  margin-top: 12vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500px;
  font-size: 2.5vw;
  width: 100%;
  line-height: 60px;

  color: #2250b2;
}
.global-couses-inner-banner #banner-global-item2 {
  grid-column-start: 6;
  float: right;
}

.global-couses-content div img {
  margin-top: 60px;
  width: 195px;
  height: 171px;
  clear: both;
}

.global-couses-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 8vw;
  grid-column-gap: 2.5vw;
  margin-bottom: 30px;
}

.global-couses-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  color: #8f8f8f;
}

.global-couses-content div a {
  width: 50px;
  height: 68px;
  border: 1px solid #2250b2;
  background-color: #2250b2;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}

.global-couses-content div a:hover {
  color: #ffcf06;
}
.global-couses-content div h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}
#global-couse {
  background: #e5e5e5;
}
.global-couses-content .disaster-section h3{
  font-size: 27px;
}

@media screen and (max-width: 1008px) {
  .global-couses-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 931px) {
  .global-couses-content {
    grid-template-columns: 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
/* ================================================================ */
.banner {
  margin-top: 30px;
  height: 43vw;
  width: 99%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-left: 1vw;
  margin-bottom: 50px;
  border-radius: 20px;
  border-radius: 10px;
}
.carousel-inner .carousel-item .carousel-caption h5{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600px;
  font-size: 4vw;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 2vw;
}
.carousel-inner .carousel-item .carousel-caption p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600px;
  line-height: 1.8vw;
  color: #ffffff;
  font-size: 2vw;
  margin-bottom: 14vw;
}
/* =====================================end of banner */
a {
  text-decoration: none;
}

p {
  color: #8f8f8f;
}

.mot {
  background: #ffffff;
  border-radius: 12px;
  width: 98vw;
  height: 35vw;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 2vw;
}
.mot h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
  text-align: center;
  padding-bottom: 5vw;
  /* margin-bottom: 20px; */
}
.mot div h2 {
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 2.6vw;
  line-height: 3vw;
  margin-left: 5vw;
  color: #000000;

  transform: rotate(0.26deg);
}
.mot div blockquote {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.8vw;
  margin-left: 7vw;
  color: #8f8f8f;
  padding-bottom: 1vw;
  margin-bottom: 1vw;
  transform: rotate(0.02deg);
}
.mot div #gvr {
  border-radius: 50vw;
  width: 25vw;
  height: 25vw;
  margin-top: -7vw;
  margin-right: 2vw;
  float: right;
}
.mot-btn {
  background: #ffcf06;
  color: blue;
  border-radius: 10px;
  font-weight: bold;
  padding: 1vw;
  margin-top: 2vw;
  margin-left: 11vw;
  font-family: Poppins;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 36px;

  color: #2250b2;
}

.home-page h4 {
  font-size: 30px;
  text-align: center;
}
.home-page h5 {
  font-size: 24px;
  padding-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;

  /* identical to box height */

  color: #000000;
}
.home-page h6 {
  margin-left: 0px;
  margin-top: -20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.home-page .btn:hover,
.mot-btn:hover .button-btn:hover {
  /* background: #2250B2; */
  color: #817d6c;
  transition: ease-in-out 0.3s;
}
.home-page .title {
  margin-top: 60px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center;
}
.home-page .title-font {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #2250b2;

  /* identical to box height */

  color: #2250b2;
}
.home-page .container {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  grid-auto-flow: row;
  grid-template-areas:
    ".."
    "..";
  margin-left: 2vw;
}

.home-page .image {
  text-align: center;
  margin-bottom: 30px;
}
.home-page img {
  width: 10vw;
  height: 10vw;
  margin-top: -80px;
}
.home-page .card {
  width: 40vw;
  height: 28vw;
  background: white;
  border-radius: 20px;
  padding: 25px;
  margin-left: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.home-page .form form h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
  text-align: center;
  padding-bottom: 5vw;
  margin-bottom: 30px;
}
.home-page .card p {
  color: #8f8f8f;
  margin-top: 40px;
  font-size: 1.5vw;
}
/* nous decouvrir */
.home-page .histoire {
  margin: 60px 0;
  background: white;
  border-radius: 20px;
  width: 98%;
  margin-left: 10px;
  height: 400px;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
}

.home-page #emblem {
  float: left;
  margin-left: 20px;
  margin-top: 45px;
}
.home-page .content {
  float: right;
  margin-right: 35px;
  width: 85%;
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #8f8f8f;
}
.content-btn {
  background: #ffcf06;
  width: 11vw;
  border-radius: 10px;
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  color: #2250b2;
}
/* =======================================end of nous decouvrir */
/* membres */
.home-page .membres {
  background: white;
  border-radius: 20px;
  width: 98%;
  margin-left: 10px;
  height: 800px;
}
.home-page .membres .lions {
  margin-bottom: -120px;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
}
.home-page .membres .leo {
  display: grid;
  grid-template-columns: 0.4fr 4fr;
}
.home-page .content-membres {
  float: right;
  width: 85%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #8f8f8f;
}

/* ========================================end of membres */
/* ================Start leader-section============ */
.leaders-section .content-leaders {
  margin: 60px 0;
  margin-left: 209px;
  background: white;
  border-radius: 20px;
  width: 90%;
  margin-left: 10px;
  height: 250px;
  padding-left: 180px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.leaders-section .content-leaders p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #8f8f8f;
}
/* ================End leader-section-css========== */
/* ================start Global Couses css========= */
.causes-mondiales-section .causes-mondiales-content {
  margin: 60px 0;
  margin-bottom: 60px;
  background: white;
  border-radius: 20px;
  width: 90%;
  margin-left: 10px;
  height: 350px;
  padding-left: 180px;
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.causes-mondiales-section .causes-mondiales-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-right: 40px;
  color: #8f8f8f;
}
/*================END Global Couses css=========   */
.home-page .district {
  margin-top: -60px;
  height: 400px;
  width: 100%;
  background: #2250b2;
  color: white;
  clear: both;
}

.home-page #contact {
  padding-right: 12vw;
  padding-bottom: 0px;
}
.home-page input {
  width: 500px;
  height: 50px;
  margin: 10px;
  border: none;
  color: #8f8f8f;
  border-radius: 20px;
  padding-left: 20px;
}

.home-page textarea {
  border-radius: 15px;
  color: #8f8f8f;
  width: 500px;
  height: 200px;
  border: none;
  margin: 10px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 15px;
}

.home-page .form form button {
  background-color: #2250b2;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  margin-left: 180px;
  border: none;
  color: #ffcf06;
  text-decoration: none;
  font-weight: bold;
}
.home-page .form form button:focus {
  border: none;
  outline: none;
}

.home-page #email-photo {
  padding-top: 8vw;
  width: 40vw;
  height: 40vw;
  margin-left: 5vw;
}

.home-page #fname {
  width: 230px;
}
.home-page #lname {
  width: 250px;
}

.span_2_of_2 {
  width: 100%;
}

.span_1_of_2 {
  width: 49.2%;
}
@media screen and (max-width: 1024px) {
  .mot {
    height: 46vw;
  }
  .mot h3 {
    font-size: 28px;
    padding-bottom: 1vw;
    margin-bottom: 10px;
  }
  .mot div h2 {
    font-size: 3vw;
  }
  .mot div blockquote {
    line-height: 2.2vw;
    font-size: 2.5vw;
    margin-bottom: 0.6vw;
    transform: rotate(0.02deg);
  }
  .mot-btn {
    padding: 1vw;
    margin-left: 9vw;
    font-size: 2.3vw;
  }
  /* =====================Zone */

  .home-page .container {
    margin-top: 6vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-left: 1vw;
  }

  .home-page .card {
    margin-bottom: 30px;
    width: 80vw;
    height: 60vw;
  }
  .home-page .card p {
    font-size: 4vw;
    margin-top: -10px;
  }
  .home-page h4 {
    font-size: 5vw;
    margin-top: -30px;
  }
  .home-page .card .image img {
    width: 80px;
    height: 85px;
  }
  /* ==============nous decouv */
  .home-page .histoire {
    width: 98%;
    margin-left: 10px;
    height: 660px;
    display: block;
    margin-bottom: -10%;
  }

  .home-page #emblem {
    margin-left: 40%;
    margin-top: 30px;
  }
  .home-page .content {
    width: 85%;
    padding-top: 10px;
  }
  .home-page .content-btn {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20%;
  }
  /* ========================membre========== */
  .home-page .membres {
    width: 98%;
    margin-left: 10px;
    height: 1000px;
    margin-top: 20%;
  }
  .home-page .membres .lions {
    margin-bottom: -120px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-page .membres .leo {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20%;
  }
  .home-page .content-membres {
    width: 90%;
    margin-left: 50px;
    /* margin-bottom: 20%; */
  }

  .leaders-section .content-leaders {
    clear: both;
    margin-top: 70%;
    width: 100%;
    height: 40vw;
    padding-left: 20px;
  }

  .causes-mondiales-section .causes-mondiales-content {
    margin-bottom: 60px;
    width: 99%;
    height: 50vw;
    padding-left: 20px;
    padding-top: 10px;
  }
  /* ================================== */
  .home-page .district {
    height: 600px;
    width: 100%;
  }

  .home-page .form form button {
    width: 200px;
    height: 40px;
    margin-left: 150px;
    border: none;
    margin-bottom: 10px;
  }
  .content-btn {
    width: 30vw;
  }
  .content-btn a {
    font-size: 40px;
    padding-right: 20px;
  }

  .home-page #email-photo {
    padding-top: 8vw;
    width: 40vw;
    height: 40vw;
    margin-left: 30vw;
  }

  td p {
    font-size: 6vw;
  }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
}

/* ========================Leades css=============== */

.leader-page .leaders-photo {
  background-position: center;
  background-size: cover;
  height: 30vh;
}
.leader-page h1 {
  margin-left: 148px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  padding-top: 120px;

  color: #ffffff;
}

.leader-page .words {
  width: 1700px;
  margin: 50px 20px 20px 65px;
  /* margin-left: 65px;
  margin: 50px 200px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #8f8f8f;
}

.leader-page h3 {
  color: #2250b2;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.leader-page .parent {
  width: 1700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 120px;
  margin-left: 150px;
  margin-bottom: 180px;
}
.leader-page .card {
  width: 353px;
  height: 428px;
  margin: 20px;
}
.leader-page .leader {
  height: 300px;
  border: 2px solid black;
}
.leader-page h4 {
  padding: 20px 0px 30px 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;

  color: #000000;
}

.leader-page .african-leaders {
  background: #ffffff;
}
.leader-page .chefs {
  background: #f6f6f6;
  margin-bottom: 80px;
}
.leader-page .chefs div img {
  margin-bottom: 30px;
}
.leader-page .chefs div h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 0px;

  color: #000000;
}

.leader-page .parent-1 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 1fr;
  
  /* grid-row-gap: 40px; */
  grid-column-gap: 40px;
  margin-left: 90px;
}
.leader-page .round-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
}

/* ==================Leadears css ends=========== */
/* ======================================================== ===Inscription */

.inscrire section {
  background: #efefef;
  width: 1140px;
  padding: 10px 0;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-top: 250px;
  font-family: "Poppins", sans-serif;
}

.inscrire h2 {
  text-transform: uppercase;
  text-align: center;
  color: #2250b2;
  padding: 20px 0;
  font-size: 20px;
}
.inscrire h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #0d2240;
}
.inscrire input {
  width: 500px;
  height: 40px;
  margin: 10px 10px;
  border: none;
  border-radius: 20px;
  text-transform: capitalize;
  padding-left: 20px;
  font-size: 18px;
}
.inscrire .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.inscrire .checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.inscrire label {
  padding-top: 20px;
}

.inscrire .option {
  background: #0d2240;
  width: 1340px;
  margin: 30px 40px 30px 200px;
  color: white;
  font-size: 16px;
  padding: 50px;
  border-radius: 10px;
}
.inscrire .option h2 {
  padding: 80px 0;
  color: #ffcf06;
}
.inscrire input[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
}
.inscrire li {
  list-style-type: none;
}
.inscrire #franc {
  width: 100px;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.inscrire .franc-label {
  text-transform: uppercase;
  color: #ffcf06;
}

.inscrire p {
  text-align: center;
  color: #ffcf06;
  font-size: 18px;
  font-weight: 500;
}

.inscrire #last-line {
  letter-spacing: 2px;
  padding-top: 10px;
  line-height: 50px;
}

.inscrire .liste {
  list-style-type: square;
  font-size: 18px;
  padding: 20px 0;
}

/* current home page of district structure */
.district-structure {
  background: #2250b2;
  margin-top: -30px;
}
.district-structure h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height */
  margin-left: 27px;
  color: #ffffff;
}

.district-structure h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  margin-left: 27px;
  color: #ffffff;
}
.district-structure .item1 {
  float: left;
  margin-top: 100px;
}
.table-format {
  border-collapse: collapse;
  border: none;
}
table {
  float: right;
  margin-right: 20vw;
  margin-top: 5vw;
}
td {
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;

  /* identical to box height */

  color: #ffcc00;
}

.table-format td {
  border: 1px solid #e5e5e5;
}

.table-format tr:first-child td {
  border-top: none;
}

.table-format tr:last-child td {
  border-bottom: none;
}

.table-format tr td:first-child {
  border-left: none;
}

.table-format tr td:last-child {
  border-right: none;
}

/* District convention */
.district-convention-submit button{
  margin-top: 30px;
  background-color: #2250b2;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  margin-left: 30vw;
  border: none;
  color: #ffcf06;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 30px;
}


/* ===================HOME PAGE UPDADed====== */
/* 
.Mot-du-Gouverneur {
  width: 98%;
  height: 30vw;
  margin-left: 34px;
  background: #ffffff;
  border-radius: 12px;
}
.Mot-du-Gouverneur h3 {
  text-align: center;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
}

.Mot-du-Gouverneur-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Mot-du-Gouverneur .Mot-du-Gouverneur-grid div h4 {
  margin-left: 4vw;
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  line-height: 58px;
  color: #000000;
  transform: rotate(0.26deg);
}

.Mot-du-Gouverneur .Mot-du-Gouverneur-grid div p {
  margin-left: 8vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  color: #8f8f8f;
  transform: rotate(0.02deg);
  width: 740px;
}
.Mot-du-Gouverneur .Mot-du-Gouverneur-grid div a {
  background: #ffcf06;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  margin-left: 10vw;
  margin-bottom: 10px;
}

.Mot-du-Gouverneur .Mot-du-Gouverneur-grid .govern-img {
  width: 463px;
  height: 482px;
}

#zone {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 183px;
}
#zone h3 {
  margin-left: 37vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #2250b2;
}
#zone .card-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw 0.2vw;
  grid-auto-flow: row;
  grid-template-areas:
    ".."
    "..";
  margin-left: 2vw;
}
#zone .card-container-grid div h4 {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;

  color: #000000;
}
#zone .card-container-grid .card {
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 20px;
  padding: 25px;
  margin-left: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

#zone .card-container-grid .card .image img {
  width: 150px;
  height: 150px;
  margin-top: -80px;
}
#zone .card-container-grid .card .image {
  text-align: center;
  margin-bottom: 30px;
}
.home-page .title {
  margin-top: 50px;
  display: flex;
  justify-content: center;
} */

/* =============Start notre Histoire============== */
/* nous decouvrir */
/* #nous-decouvrir h3 {
  margin-left: 45vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #2250b2;
}
#nous-decouvrir .histoire-grid {
  margin: 60px 0;
  background: white;
  border-radius: 20px;
  width: 98%;
  margin-left: 10px;
  height: 400px;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
}
#nous-decouvrir .histoire-grid div img {
  width: 8vw;
  height: 8vw;
  margin-top: 50px;
}

#nous-decouvrir .histoire-grid div img #emblem {
  float: left;
  margin-left: 20px;
  margin-top: 45px;
}
#nous-decouvrir .histoire-grid .content h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 10px;
  color: #000000;
}
#nous-decouvrir .histoire-grid .content {
  float: right;
  margin-right: 35px;
  width: 85%;
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  
  color: #8f8f8f;
}
#nous-decouvrir .histoire-grid .content p{
  margin-bottom: 20px;
}
#nous-decouvrir .histoire-grid .content a {
  padding: 10px 30px 10px 30px;
  color: blue;
  background: #ffcf06;
  border-radius: 10px;
  font-weight: bold;
  width: 200px;
  padding: 10px;
  margin-top: 25px;
} */

.nav-item {
  text-align: left;
  padding: -20px;
  font-size: 1.9vw;
  box-sizing: border-box;
}
